<h1> Induction of a non-competitive behavior in a duopoly</h1>
<h2>Status</h2>
Accepted @PalgraveCommunications.
<h2> Abstract </h2>
Duopolies describe situations where two independent sellers compete for capturing market shares.
Such duopolies do exist in the world economy (e.g. Boeing / Airbus, Samsung / Apple, Visa / MasterCard)
and have been extensively studied in the literature using theoretical models. Among these models, the spatial model of Hotelling (1929) is
certainly the most prolific and has generated a subsequent literature, each work introducing some variation leading to different conclusions.
However, most models assume consumers to have an unlimited access to information (perfect information hypothesis) and to be rational.
Here we consider a situation where consumers have a limited access to information and explore how this factor influences the behavior of the competing firms.
We first characterized three decision-making processes followed by individual firms (maximizing one's profit, maximizing one's relative profit with respect to the competitor; or tacit collusion)
using a simulated model, varying the level of information of consumers.
These manipulations alternatively lead the firms to minimally or maximally differentiate their relative position.
We then tested the model with human participants in the role of firms and characterized their behavior according to the model.
Our results demonstrate that a limited access to information by consumers can actually induce a mutually beneficial non-competitive behavior of firms,
which is not traceable to explicit collusive strategies. Imperfect information on the part of consumers can therefore be exploited by firms through basic and blind decision rules.
<h2>Resources</h2>
<a href="http://github.com/AurelienNioche/DuopolyDjango/"> Server source code.</a><br>
<a href="http://gitub.com/AurelienNioche/DuopolyContest/">Client source code.</a><br>
<a href="http://gitub.com/AurelienNioche/DuopolyAnalysis/"> Analysis source code.</a>
<h2>Ref</h2>
