{#  <nav class="breadcrumb">#}
{#    <a class="breadcrumb-item" href="/">List</a> &nbsp;#}
{#    <a class="breadcrumb-item" href="{% url 'post_detail' post_id=post.pk %}">{{ post.title }}</a>#}
{#    <span class="breadcrumb-item active">Add comment</span>#}
{#  </nav>#}

<div id="add_comment" style="display: none">
    <h2 class="form-title">
        Add comment
    </h2>

    <form class="post-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label" for="id_{{ form.author.name }}">{{ form.author.label }}</label>
            {{ form.author.errors }}
            <input
                   class="form-control"
                   name="{{ form.author.name }}"
                   id="id_{{ form.author.name }}"
                   height="120%"
                   placeholder="Your name" required>
        </div>
        <div class="form-group">
            <label class="control-label" for="id_{{ form.text.name }}">{{ form.text.label }}</label>
            {{ form.text.errors }}
            <textarea class="form-control"
                      name="{{ form.text.name }}"
                      id="id_{{ form.text.name }}"
                      placeholder="A worthy comment..."
                      rows="10" required></textarea>
          {% if form.text.value %}
              {{ form.text.value }}
          {% endif %}
      </textarea>
        </div>
        <input value="submit" type="submit" class="btn btn-primary btn-submit" style="color: white">
    </form>

</div>
